.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    color: red;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-gap: 2rem;
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
