.container {
  font-family: Roboto;
  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    color: red;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 10px;
    margin-top: 20px;
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
